<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsao do Spring Bot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsao do Tempo</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia Da Semana</th>
						<th>Temperatura Max</th>
						<th>Temperatura Min</th>
						<th>Umidade Relativa (hpa)</th>
						<th>Descricao</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="previsao:${previsaoTempo}">
						<td th:text="${previsao.diadasemana}"></td>
						<td th:text="${previsao.temperaturamax}"></td>
						<td th:text="${previsao.temperaturamin}"></td>
						<td th:text="${previsao.umidaderelativa}"></td>
						<td th:text="${previsao.descricao}"></td>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>